<!DOCTYPE html>
<html>
<head>
  <title>StudySite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <hr>
  <div class="footer">
    Copyright 2009 - 2012 : waw-project.com
  </div>
</body>
</html>
